/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
  background-color: #fafafa;
  font-family: 'Quicksand', sans-serif;
}
nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 2rem;
}
.button-collapse {
  color: #EF5350;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
footer.page-footer {
  margin: 0;
}
.transparent-background {
  background-color: #f5f5f5;
}
.header {
  display: inline-block;
  color: white;
}
.carousel {
  height: 200px;
}
.padded {
  padding: 50px;
}
.margin-top {
  margin-top: 50px;
}
.darker-image {
  filter: brightness(60%);
}
.responsive-img {
  max-width: 10px;
}
.hidden {
  display: none;
}
#sidenav-overlay {
  z-index: 998;
}
.greyToast {
  background-color: #757575;
  font-size: 1.4rem;
  font-weight: 900;
}
@media only screen and (max-height: 600px) {
  .modal .modal-content {
    padding: 5px;
  }

  .modal .modal-content h4 {
    font-size: 2rem;
  }

  .margin-top {
    margin-top: 25px;
  }

  #modal1 {
    top:2% !important;
  }
}